/* Works sens fonts from google */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFF;
    padding: 20px 25px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

.font-color {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}



/* header styles */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .of-our {
    color: #131313;
    font-weight: 700;
}

.teams-title .feature {
    color: #FF900E;
    font-weight: 700;
}

/* facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;

}

.facts-card-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;

}

/* feature styles */
.features {
    display: flex;
    margin-top: 130px;
    gap: 140px;
}

.features-content .card {
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    height: 106px;
    padding-left: 21px;
}

.features-img img {
    height: 90%;
    margin-left: 100px;
}

.year-badge {
    border-radius: 8px;
    background: #FF900E;
    width: 340px;
    height: 200px;
    color: #FFF;
    padding: 42px;
    text-align: center;
    position: relative;
    bottom: 110px;

}

.year-badge h2 {
    margin: 0;
    margin-top: 30px;
    font-size: 4rem;
    font-weight: 700;
}

.year-badge p {
    font-size: 1.5rem;
    font-weight: 500;
}

/* sponsors styles */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165.833px;
    height: 50px;
}

/* responsive media queries */

/* mobile device styles */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container,
    .features {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-card-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .facts h3,
    p {
        text-align: center;
    }
    .features-img img{
        width: 100%;
        margin-left: 0px;
    }
    .year-badge{
        position: static;
        max-width: 300px;
    }
}

/* medium device styles*/
@media screen and (max-width:992px) and (min-width:576px) {
    header {
        padding: 50px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .facts-card-container {
        gap: 30px;
    }
    .features .section-title{
        margin-bottom: 110px;
    }
}